/* Apenas para ícones maiores e responsivos */
.section-icon-ensinodados {
  font-size: 48px;
  color: #0055ff;
}

.section-card-ensinodados p,
.section-card-ensinodados ul {
  font-size: 1.25rem;
  line-height: 1.8;
  color: #333;
}

.section-card-ensinodados h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.section-card-ensinodados {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 28px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-bottom: 60px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* unificado aqui */
}

.section-card-ensinodados:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
}
@media (min-width: 2560px) {
  .section-icon-ensinodados {
    font-size: 64px;
  }

  .section-card-ensinodados p,
  .section-card-ensinodados ul {
    font-size: 1.9rem;
  }

  .section-card-ensinodados h2 {
    font-size: 3rem;
  }

  .section-card-ensinodados {
    padding: 60px;
    margin-bottom: 80px;
  }

  .title-ensinodados {
    font-size: 3rem;
  }
}
