.menu-icon-menuatividades {
  max-width: 64px;
  max-height: 64px;
  transition: transform 0.3s ease;
  margin: 8px;
}

.menu-icon-menuatividades:hover {
  transform: translateY(-5px);
}

@media (min-width: 2560px) {
  .menu-icon-menuatividades {
    max-width: 144px;
    max-height: 144px;
  }
  .menu-atividades div {
    font-size: 2rem;
  }
}
