.header {
    background-color: #f1f1f1;
    padding: 1rem 2rem;
    color: #fff;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-container {
    flex-shrink: 0;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 24px;
  }
  
  .nav-links a:hover {
    color: #648EE1;
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
  }
  
  .social-icons img {
    height: 24px;
    width: 24px;
    transition: transform 0.3s ease;
  }
  
  .social-icons img:hover {
    transform: scale(1.2);
    
  }
  