html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  box-sizing: border-box;
}

.header {

  padding: 1rem 0;
}

/* Logo */
.logo {
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

/* Ícones sociais no header */
.social-icons img {
  height: 24px;
  transition: filter 0.3s ease;
}

.social-icons img:hover {
  filter: brightness(0) saturate(100%) invert(29%) sepia(96%) saturate(1741%) hue-rotate(203deg) brightness(99%) contrast(101%);
}


.nav-links a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 20px;
}

.nav-links a:hover {
  color: #648EE1;
  text-decoration: underline;
}


/* MENU MOBILE */



.menu-toggle {
  border: none;
  cursor: pointer;
}

.menu-toggle img {
  height: 32px;
  width: 32px;
  transition: transform 0.3s ease;
  border: none;

}



.menu-toggle.open img {
  transform: rotate(90deg);

}

.menu-overlay {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-height: 0;
  padding: 0 2rem;
  transition: max-height 0.5s ease, padding 0.3s ease;
}

.menu-overlay.open {
  max-height: 1000px;
  padding: 2rem;
}

.overlay-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
  padding: 0;
}

.overlay-links a {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  font-weight: 600;
}

.overlay-socials {
  display: flex;
  gap: 1.5rem;
  margin-top: 3rem;
}

.overlay-socials img {
  height: 32px;
  width: 32px;
  transition: transform 0.3s ease;
}

.overlay-socials img:hover {
  transform: scale(1.2);
}

/* Controla a exibição do menu mobile */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}

/* Impede o menu mobile de aparecer no desktop */
@media (min-width: 992px) {
  .menu-overlay {
    display: none;
  }
}