.menu-icon-menupesquisa {
  max-width: 64px;
  max-height: 64px;
  transition: transform 0.3s ease;
  margin: 8px;
}

.menu-icon-menupesquisa:hover {
  transform: translateY(-5px);
}

@media (min-width: 2560px) {
  .menu-icon-menupesquisa {
    max-width: 144px;
    max-height: 144px;
  }
  .menu-pesquisa div {
    font-size: 1.8rem;
  }
}
